{
  "env": {
    "cjs": {
      "presets": [["@babel/preset-env", {"modules": "cjs"}]]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "compact": true,
  "comments": false,
}
